*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.cursor-pointer{
    cursor: pointer;
}
.hover:hover{
    background-color: #2070c0ac;
    color: rgb(255, 255, 255);
    transform: translate();
    transition: 0.2s;
    border-radius: 5px;
}
div.hide{
    display: none !important;
}
nav div a{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.curd-display{
    position: absolute;
    top: -20px;
    right: 20px;
    z-index: 999;
    width: 150px;
}
.curd-display>li:hover{
    cursor: pointer;
}
.curd-display li:nth-of-type(1):hover{
    background: #02eb7e !important;
    color: #fff;
}.curd-display li:nth-of-type(2):hover{
    background: #02eb7e !important;
    color: #fff;
}
.curd-display li:nth-of-type(4):hover{
    background: #02eb7e !important;
    color: #fff;
}